<h2>Edit Author Detail</h2>

<%= link_to 'Back', {:action => 'list' } %>

<%= form_for @author, :url =>{:action => "update", :id =>@author} do |f| %>

<p>Name: <%= f.text_field 'name' %></p>

<%= f.submit "Save changes" %>
<% end %>

