<h1>Edit Author Detail</h1>

<%= form_for @author, :url =>{:action => "update", :id =>@author} do |f| %>

<p>Name: <%= f.text_field 'name' %></p>

<%= f.submit "Save changes" %>
<% end %>

<%= link_to 'Back', {:action => 'list' } %>