<h2>Add New Author</h2>

<%= link_to 'Back', {:action => 'list'} %>

<%= form_tag :action => 'create' do %>
<p><label for = "author_name">Author Name</label>:

<%= text_field 'authors', 'name' %></p>

<%= submit_tag "Create" %>

<% end -%>